extends layout

block headContent
	title Home
	
block content
	h1 SMART Explorer
	hr

	:markdown-it
		**SMART Explorer** is [open-source](https://github.com/msg768/smart-rpc-explorer). If you run your own [SmartCash Full Node](https://smartcash.cc/wallets), **SMART Explorer** can easily run alongside it, communicating via RPC calls. See the project [ReadMe](https://github.com/msg768/smart-rpc-explorer) for a list of features and instructions for running.

	
	if (latestBlocks)
		h3 Latest Blocks

		- var blocks = latestBlocks;
		- var blockOffset = 0;

		include includes/blocks-list.pug

		hr
		a(href="/blocks", class="btn btn-primary btn-block") See more

	hr

	div(class="text-center")
		:markdown-it
			Donate SmartCash: [SeDV8hHPgeCtLSaeSCbCvPxwHaLf2Whs7b](https://wallet.smartcash.cc/donate/msg768)

			Source code available on github: [https://github.com/msg768/smart-rpc-explorer](https://github.com/msg768/smart-rpc-explorer)
			
			&copy; 2018 Markus GH
